body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.navbar{
  position: relative;
  float: left;
  display: block;
  box-sizing: border-box;
  background-color: red;
  width: 100%;
  height: 8vh;
}

.title-div{
  position: relative;
  float: left;
  display: block;
  height: 100%;
  width: 20vw;
  line-height: 75px;
}

.title-div h1{
  font-size: 25px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: red;
  text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000,
             1px -1px 0 #000000, -1px -1px 0 #000000;
}

.navbar-links-container{
  position: relative;
  display: block;
  float: left;
  height: 100%;
  width: 80vw;
}

.navbar ul{
  background-color: #D3D3D3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li{
  display: inline-block;
}

.nav-button{
  padding: 10px 10px;
  margin: 10px;
  font-size: 16px;
  display: inline-block;
  float: right;
  color: black;
  border: 1px solid black;
  transition: background-color .4s;
}

.nav-button:hover{
  background-color: red;
}

.nav-link{
  color: black;
  padding: 10px 10px;
  margin-top: 10px;
  font-size: 14px;
  float: right;
}

.nav-link:hover{
  border-botton: 1px solid blue;
}

#logout-button{
  background-color: none;
  border: none;
}

.link-button{
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    cursor: pointer;
}

.container {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  height: 91vh;
  width:  100%;
}

.instruction-container{
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.instruction-container ol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding-bottom: 5%;

}

.instruction-container li{
  text-align: left;
  font-size: 300%;
}

.instruction-container li a{
  text-decoration: none;
  color: red;
}


/*#list-form{
  position: relative;
  display: block;
  float: left;
  background: white;
  height: 100%;
  width: 100%;
}*/

/*.artwork-list {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  border-left: 5px solid white;
  border-right: 5px solid white;
  overflow: scroll;
}*/

/*.artwork-list ul {
  padding: 0;
  list-style: none;
  margin: none;
}*/

/*.artwork-list li {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: white;
  width: 500px;
  height: 500px;
  margin: 10% auto;
  overflow: hidden;
}*/
/*
#artwork-update{
  position: relative;
  display: block;
  box-sizing: border-box;
  background: white;
  width: 500px;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 10% auto;
  overflow: scroll;
  border: 1px solid red;
}*/

/*.artwork-form {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
}*/

/*#artwork-form{
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 10% auto;
  padding-top: 75px;
  background: white;
  width: 500px;
  height: 500px;
  overflow: scroll;
  padding-bottom: 100px;
  border: 1px solid black;
}*/

/*.artwork-list li h1{
  position: absolute;
  background-color: #D3D3D3;
  color: white;
  top: 230px;
  left: .3em;
  padding: .7em;
  margin: 0 auto;
  font-size: 25px;
  width: 100%;
  text-align: right;
  transform: rotate(270deg)  translateY(-250px);
}*/

/*#artwork-form h1{
  position: absolute;
  background-color: black;
  color: white;
  top: 0px;
  padding: .4em;
  margin: 0 auto;
  font-size: 25px;
  width: 500px;
  text-align: center;
}*/
/*
#artwork-form form{
  padding-top: 25px;
  font-size: 16px;
}*/

.gallery-container{
  width: 100%;
  height: 92vh;
  overflow: scroll;
}

.add-button{
  margin-top: 2%;
  font-size: 100%;
}

.gallery-list{
  width: 100%;
  height: 100%;
}

.gallery-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  /*align-items: baseline;*/
  align-content: flex-start;
}

/*.gallery-list li {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: white;
  width: 500px;
  height: 500px;
  margin: 1%;
  border: 5px solid white;
  overflow: scroll;
}*/

.gallery-list li{
  width: 20vw;
  height: 20vw;
  margin: 2%;
  box-sizing: border-box;
  border: 5px solid white;
  overflow: hidden;
  position: relative;
}

.gallery-list li:hover{
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.175);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.175);
}

.gallery-list-wall{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 66%;
}

.gallery-list-wall h1{
  font-size: 100%;
}

.gallery-list-floor{
  position: relative;
  display: block;
  float: left;
  width: 150%;
  height: 150%;
  background-color: red;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.175), inset 0 0 10px 5px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.175), inset 0 0 10px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.175), inset 0 0 10px 5px rgba(0, 0, 0, 0.175);
}

.gallery-list-buttons{
  position: absolute;
  width: 10vw;
  height: 6vw;
  left: 10vw;
  top: 8vw;
  margin-top: -3vw;
  margin-left: -5vw;
}

.gallery-form {
  width: 50vw;
  height: 50vw;
  background-color: white;
  overflow: scroll;
}
.gallery-form-title{
  width: 100%;
  height: 10%;
}

.gallery-form-title h1{
  position: relative;
  width: 50vw;
  background-color: black;
  padding: 2% 0 2% 0;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 150%;
  align-self: flex-start;
}

.gallery-form-inputs * {
  box-sizing: border-box;
}

.gallery-form-inputs-wrapper{
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}


.gallery-form-inputs-wrapper li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-form-inputs-wrapper > li:not(:last-child) {
  margin-bottom: 20px;
}

.gallery-form-inputs-wrapper li label{
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.gallery-form-inputs-wrapper > li > label{
  flex: 1 0 20%;
  align-self: auto;
}

.gallery-form-inputs-wrapper > li > label + *{
  flex: 1 0 120px;
}

.gallery-form-inputs-wrapper > li > label{
  flex: 1 0 120px;
  max-width: 220px;
}

.gallery-floor{
  
}
#gallery-update{
  position: relative;
  display: block;
  box-sizing: border-box;
  background: white;
  width: 500px;
  height: 500px;
  margin: 10% auto;
  border: 1px solid red;
  padding-bottom: 100px;
  overflow: scroll;
}

#scene-list{
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
}

.scene-list {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin-left: 5%;
}

.scene-list ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 75px;
}

.scene-list li {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 300px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  padding-top: 25px;
  padding-left: 45px;
}

.scene-list li h1{
  position: absolute;
  background-color: black;
  color: white;
  top: 130px;
  left: .3em;
  padding: .35em;
  margin: 0 auto;
  font-size: 25px;
  width: 100%;
  text-align: right;
  border-right: 20px solid black;
  transform: rotate(270deg) translateY(-155px);
}

.scene-select-button{
    background-color: white;
    color: #DCDAD1;
    border-radius: 0px;
    border: 1px solid #DCDAD1;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 auto;
    /*-webkit-transition-duration: 10s;*/
    transition: background-color .4s;
}

#scene-buttons{
  position: absolute;
  top: 190px;
  left: 130px;
}

.user-login{
  position: absolute;
  display: block;
  top: 150px;
  left: 40vw;
  padding-top: 25px;
  float: left;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  border: 1px solid black;
}

.file-upload{
  padding: 10;
  display: block;
  align-content: center;
}



.errors{
  color: red;
}

.select-button {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 1px solid black;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 auto;
  /*-webkit-transition-duration: 10s;*/
  transition: background-color .4s;
}

.select-button:hover{
  background-color: red;
   color: black;
   border: 1px solid black;
   border-radius: 0px;
   font-size: 16px;
   text-align: center;
}

.select-button a:active{
  background-color: red;
   color: white;
   border-radius: 0px;
   font-size: 16px;
   text-align: center;
}

.select-button li{
  position: relative;
  padding-left: 25px;
  margin: 0 auto;
  text-align: center;
}

.three-button{
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 16px;
  padding: 4px 20px;
  margin-left: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.three-button:hover{
  background-color: yellow;
  color: black;
  border-radius: 0px;
  border: 1px solid black;
  cursor: pointer;

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
